@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 10px;
}

body {
  @include center;
  box-sizing: border-box;
  background-image: url("../img/bg-image-min.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
}
.wrapper {
  @include center;
}

form {
  width: 100%;
  @include center;
}
ul {
  list-style: none;
}
