.list {
  //   background-color: $color-secondary;
  margin: 3rem 0;
  border: 0.1rem solid $color-grey-light;
  border-radius: 0.3rem;
  color: $color-primary;
  font-size: 1.7rem;
  overflow-y: scroll;

  li {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: visible;
  }
  li:not(:last-child) {
    border-bottom: 0.1rem solid $color-grey-light;
  }
}
