.modal {
  position: absolute;
  z-index: 1;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  opacity: 0;
  height: 0;

  .modal-bg {
    background: rgba($color-black, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }

  form {
    background-color: $color-tertiary;
    padding: 2rem;
    border-radius: 0.4rem;
  }
}

.modal.active {
  opacity: 1;
  height: 100%;
}
