.modal {
  position: absolute;
  z-index: 1;
  width: 100%;
  @include center;
  transition: all 0.5s;
  opacity: 0;
  height: 0;
  top: -100%;

  .modal-bg {
    background: rgba($color-primary, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    cursor: pointer;
  }

  form {
    background-color: $color-tertiary;
    padding: 2rem;
    border-radius: 0.4rem;
    width: 40rem;
  }
}
.modal.active {
  opacity: 1;
  height: 100%;
  top: auto;
}
