*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  font-size: 10px; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../img/bg-image-min.jpg");
  background-size: cover;
  height: 100vh;
  background-position: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  text-align: center; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

ul {
  list-style: none; }

@media (max-width: 860px) {
  html {
    font-size: 8px; } }
@media (max-width: 760px) {
  html {
    font-size: 7px; } }
@media (max-width: 660px) {
  html {
    font-size: 6px; } }
@media (max-width: 760px) {
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #333; }

h1 {
  font-size: 6.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #10375c;
  text-shadow: 0 0 0.6rem #fff;
  margin-bottom: 4rem; }

h2.count {
  font-size: 3rem;
  font-weight: 600;
  color: #10375c; }

.modal {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  height: 0;
  top: -100%; }
  .modal .modal-bg {
    background: rgba(16, 55, 92, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    cursor: pointer; }
  .modal form {
    background-color: #faf4ff;
    padding: 2rem;
    border-radius: 0.4rem;
    width: 40rem; }

.modal.active {
  opacity: 1;
  height: 100%;
  top: auto; }

.card {
  background-color: #faf4ff;
  padding: 3.1rem;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 0 0.8rem rgba(16, 55, 92, 0.6);
          box-shadow: 0 0 0.8rem rgba(16, 55, 92, 0.6);
  height: 45rem;
  width: 40rem;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .card form {
    width: 100%; }

.card:first-child {
  margin-right: 3rem; }

@media (max-width: 760px) {
  .card:first-child {
    margin-right: 0;
    margin-bottom: 3rem; } }
@media (max-height: 668px) {
  .card {
    height: 38rem; } }
@media (max-height: 600px) {
  .card {
    height: 35rem; } }
.text-inp {
  outline: none;
  border: 0.03rem solid #ccc;
  padding: 0.5rem;
  font-size: 2rem;
  margin-right: 1.4rem; }

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.btn {
  border: none;
  border-radius: 0.3rem;
  color: #faf4ff;
  font-size: 2.5rem;
  color: #faf4ff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .btn i {
    width: 100%;
    height: 100%;
    font-size: 1.6rem; }
  .btn:hover {
    background-color: #f3c623;
    color: #10375c;
    border: 0.2rem solid #10375c; }

.btn-dark {
  border: 0.2rem solid #10375c;
  background-color: #10375c; }
  .btn-dark i {
    padding: 0.8rem 2.2rem;
    cursor: pointer; }

.btn-icon {
  color: #10375c;
  background-color: #faf4ff;
  outline: none; }
  .btn-icon i {
    cursor: pointer;
    font-size: 1.6rem; }
  .btn-icon:hover {
    background-color: initial;
    color: #10375c;
    border: none; }

.btn-icon:first-child {
  margin-right: 0.8rem; }

.list {
  margin-top: 3rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.3rem;
  color: #10375c;
  font-size: 1.7rem;
  height: 30rem;
  width: 100%;
  overflow-y: scroll;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .list li {
    width: 100%;
    padding: 1rem 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    overflow-x: hidden; }
    .list li p {
      word-break: break-all;
      white-space: normal;
      margin-right: 1.5rem; }
    .list li p.line {
      text-decoration: line-through; }
  .list li:not(:last-child) {
    border-bottom: 0.1rem solid #ccc; }
  .list i.emoji {
    font-size: 10rem;
    width: 100%;
    height: 100%;
    color: #10375c;
    text-shadow: 0 0 0.6rem #f3c623;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.list.completed {
  height: 300px; }

@media (max-width: 400px) {
  .list {
    height: 25rem; } }

/*# sourceMappingURL=main.css.map */